.content {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', 'Roboto', 'sans-serif';
}

.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    display: inline-block;
    background-color: white;
}

.topnav img {
    width: 5%;
}

.hero {
    margin-top: 250px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 220px;
}

.hero img {
    width: 1100px;
}

.about {
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 36px;
}

.about h1 {
    font-size: 1200%;
}

.about h3 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about p {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about img {
    width: 50px;
    margin: 10px;
}

.method {
    padding: 50px;
}

.method h1 {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.method h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}

.method p {
    font-size: 25px;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.row {
    margin: 0 -50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding-top: 8%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #f1f1f1;
    height: 390px;
    border: 5px solid #1E90FF;
}

.work h1 {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.juan-case {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #f1f1f1;
    border: 5px solid black;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 50px;
}

.juan-case p, b{
    font-size: 40px;
}

.juan-case h2 {
    font-size: 22px;
}

.juan-case a {
    color: white;
    font-size: 25px;
    border: 1px solid #1E90FF;
    background-color: #1E90FF;
    border-radius: 32px;
    padding: 15px;
    text-decoration: none;
}

.juan-case a:hover {
    border: black;
    color: black;
    background: white;
    font-weight: 600;
}

.contact {
    background-color: black;
    color: white;
    padding: 50px;
    border-bottom: 10px solid #1E90FF;
}

.contact h1 {
    font-size: 32px;
}

.contact p {
    font-size: 25px;
}

.contact a {
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 32px;
    padding: 15px;
    text-decoration: none;
}

.contact a:hover {
    color: black;
    background: white;
    font-weight: 600;
}

footer {
    background-color: #191932;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
}

@media screen and (max-width: 600px) {
    .topnav img {
        width: 70px;
    }
    
    .column {
      width: 280px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .hero img {
        width: 300px;
    }

    .content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .method h1 {
        font-size: 21px;
        text-align: center;
    }

    .card {
        width: 280px;
        height: 420px;
        margin-left: 0;
        margin-right: 0;
    }

    .work h1 {
        font-size: 22px;
    }

    .juan-case {
        width: 300px;
        height: 320px;
        padding-bottom: 30px;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contact a {
        font-size: 18px;
    }

    .about h1 {
        font-size: 27px;
    }

    .about h3 {
        font-size: 22px;
    }

    .about p {
        font-size: 18px;
    }
}