/* NAVBAR =================================*/
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 1;
}

.navbar img {
    width: 80px;
    margin-left: 8px;
    margin-top: 5px;
}

/* MAIN-CONTENT =================================*/
.main {
    margin-top: 220px;
}

.main img {
    display: block;
    margin: auto;
    width: 500px;
}

.main h1 {
    font-size: 38px;
    padding-left: 50px;
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

.main a {
    display: block;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #0b08a1;
    padding: 18px;
    border-radius: 8px;
    color: white;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    border-color: white;
    border: 1px solid;
}

.main a:hover {
    background-color: #1f1f35;
    cursor: pointer;
}

.markdown h3 {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 23px;
    padding-top: 90px;
    text-shadow: white 0.01em 0.01em 0.1em;
    text-align: center;
    margin: 5px;
}

.markdown img {
    width: 50px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line-colored {
    width: auto;
    border-bottom: 15px solid #0b08a1;
}

/* INFORMATION MID */
.list {
    display: block;
    font-family: 'IBM Plex Sans','sans-serif';
    color: white;
}

.bg-one-welcome {
    background: url("https://images.unsplash.com/photo-1503104391828-1ffd78229dda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: 100% 115%;
    background-clip: border-box;
}

.bg-one-welcome h1 {
    font-size: 70px;
    font-weight: 800;
    padding-top: 200px;
    padding-left: 40px;
    padding-bottom: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.bg-one-welcome h3 {
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 200px;
    font-weight: 400;
    text-shadow: black 0.03em 0.03em 0.1em;
}

.roadway h1 {
    color: white;
    font-size: 70px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
}

.roadway img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 800px;
    margin-bottom: 80px;
}

.cases {
    font-family: 'Roboto', 'sans-serif';
    background-color: black;
    padding: 60px;
}

.cases h2 {
    color: white;
    font-size: 70px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
}

.case-list {
    border: 5px solid #0b08a1;
    border-radius: 32px;
    padding: 25px;
    background-color:#291a1a;
}

.case-list h3 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.case-list h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.case-list p {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 25px;
}

.case-list a {
    display: block;
    margin: auto;
    width: 350px;
    height: 60px;
    background: #3b2626;
    padding: 18px;
    border-radius: 30px;
    color: white;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 450;
    border-color: white;
    border: 2px solid;
}

.case-list a:hover {
    background-color: black;
    font-weight: 450;
    color: white;
    cursor: pointer;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.my-float img {
    width: 65px;
}


/* END =================================*/
.infobar {
    background-color: #191932;
    font-family: 'Roboto', 'sans-serif';
}

.infobar img {
    padding-top: 25px;
    padding-left: 42px;
    padding-bottom: 10px;
    width: 350px;
}

.line {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid white;
    opacity: 0.3;
    margin-bottom: 20px;
}

.sct-routes {
    padding-bottom: 18px;
}

.sct-routes a {
    font-size: 18px;
    opacity: 0.7;
    text-decoration: none;
    color: white;
    padding-left: 50px;
    font-weight: 400;
}

.infobar h1 {
    color: white;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 300;
    padding-left: 50px;
    padding-bottom: 20px;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 600px) {

    .list h1 {
        font-size: 30px;
    }

    .list h3 {
        font-size: 25px;
    }

    .bg-one-welcome {
        background-size: 200% 150%;
    }

    .main img {
        display: block;
        margin: auto;
        width: 300px;
    }

    .roadway h1 {
        font-size: 32px;
    }

    .roadway img {
        width: 380px;
        height: 300px;
    }

    .cases h2 {
        font-size: 32px;
    }

    .case-list h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .case-list p {
        font-size: 25px;
    }

    .case-list a {
        width: 200px;
        height: 60px;
        padding: 18px;
        line-height: 25px;
        font-size: 0.9rem;
        font-weight: bolder;
    }
}